
.flex1col1 .benhprimary{
  margin-bottom: 40px;
}
.flex1col1 .benhprimary h3{
    height: 39px;
    /*background-color: #dadada;*/
    line-height: 30px;
    background-image: url('../../images/desktop/benhchinh-0.jpg');
    background-repeat: no-repeat;
}
.flex1col1 .benhprimary h3 a.pull-left{
  color: #fff;
  padding:0px 60px 0px 10px;
  background-color: #a64228;
  display: inline-block;
}
.flex1col1 .benhprimary h3 a.pull-right{
  color: #a64228;
  padding-right: 15px;
  font-weight: normal;
  font-size: 14px;
}
/**/
.flex1col1  .benhnormal{
	padding:30px 0px;
	/*border-top:1px dashed #a0a0a0;*/
	border-bottom:1px dashed #a0a0a0;
}
.flex1col1  .benhnormal .flex3{
	justify-content: space-between;
}
.flex1col1  .benhnormal .flex3col1{
	flex-basis: 230px;
}
.flex1col1 .benhnormal .flex3col1 img{
  	width: 100%;
}
.flex1col1 .benhnormal .flex3col2{
  	flex-basis: 400px;
}
.flex1col1 .benhnormal .flex3col2 h3{
	/*color: #333;*/
	font-weight: normal;
	margin-bottom: 6px;
	font-size: 18px;
}
.flex1col1 .benhnormal .flex3col2 p{
	/*color: #565656;*/
	line-height: 20px;
}
.flex1col1 .benhnormal .flex3col2 p a{
	color: #d0552e;
}
.flex1col1 .benhnormal .flex3col2 p.clearfix{
	margin-top: 15px;
}
.flex1col1 .benhnormal .flex3col2 p.clearfix a{
	background-color: #d0552e;
	color: #fff;
	border-radius: 3px;
	height: 25px;
	line-height: 25px;
	padding:0px 5px;
	text-align: center;
	min-width: 90px;
	margin-left: 5px;
	font-size: 13px;
}
.flex1col1 .benhnormal .flex3col2 p.clearfix a:nth-child(1){
	background-color: #a54228;
}