header .row1{
	padding:15px 20px;
}
header .row2{
	background-color: #2facbe;
}
header .row2 h2{
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	padding:10px;
	font-family: '[UTMSeagullBold]';
}
/**/
menu .flex1col1{
	width: 33.33%;
	border:1px solid #ddd;
	border-top: none;
}
menu .flex1col1:nth-child(2),menu .flex1col1:nth-child(5){
	border-left: none;
	border-right: none;
}
menu .flex1col1 a{
	padding:10px 2px;
	font-weight: normal;
	font-size: 14px;
	display: block;
}